.reddit-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin: 10px auto;
}
.reddit-left{
    width: 10%;
    /* border: 1px blue solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.54);
}

.reddit-right{
    width: 90%;
    /* border: 1px blue solid; */
    text-align: left;
    padding: 20px;
    background-color: white;
}

.reddit-top{
    display: flex;
    gap: 20px;
    align-items: center;
}

.thumbnail-img, .thumbnail-letter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.thumbnail-letter{
   background-color: #bdbdbd;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-weight: bold;
}


